#c {
    width: 30vw;
    height: 30vw;
    display: block;
	border-radius: 20px;

}

#your-vx-label {
    font-size: 2vw !important;
    line-height: 2vw !important;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

#your-ascended-section {
    max-width: none;
    width:80vw;
    margin: auto;
    text-align: center;
    min-height:70vh;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
    border-top: solid #EBD5B9 .1vw;

}

.staking-section {
    width: 100%;
}

#available-ascended-images, #staked-ascended-images {
	/* border: solid black .5vw; */
	/* border-radius: 20px; */
    border-top: solid #EBD5B9 .1vw;
    overflow-y: scroll;
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 30vh;
}

.your-ascended {
    width: 15%;
    font-size: 1.3vw;
    line-height: 1.8vw;
    margin: 10px;
    transition: transform ease 300ms;
}

.your-ascended img {
    /* border: solid black .5vw; */
	border-radius: 20px;
    margin: 5px;
    background-color: black;
}

.your-ascended .aura-icon {
    border: none;
    width: 1.5vw;
    margin: 0;
    background-color: transparent;
}

.ascended-id, .aura-earned {
    color: #EBD5B9;
    margin-bottom: 0px;
    padding: 0 !important;
    text-align: center;
  }

.your-ascended .aura-icon {
    margin-left: .2vw;
}

.ascended-id {
    text-align: center;
    margin-top: 5px;
}

.one {
    opacity: 0;
    -webkit-animation: dot 1.3s infinite;
    -webkit-animation-delay: 0.0s;
    animation: dot 1.3s infinite;
    animation-delay: 0.0s;
}
  
.two {
    opacity: 0;
    -webkit-animation: dot 1.3s infinite;
    -webkit-animation-delay: 0.2s;
    animation: dot 1.3s infinite;
    animation-delay: 0.2s;
}
  
.three {
    opacity: 0;
    -webkit-animation: dot 1.3s infinite;
    -webkit-animation-delay: 0.3s;
    animation: dot 1.3s infinite;
    animation-delay: 0.3s;
}
  
@-webkit-keyframes dot {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
  
@keyframes dot {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media screen and (max-width: 991px) {

    #c {
        width: 80vw;
        height: 65vw;
        display: block;
        margin: auto;
    }

    #your-vx-label {
        font-size: 3.2vh !important;
        line-height: 3.2vh !important; 
    }

    #your-ascended-section {
        width:95vw;
        min-height: 0;
        margin: auto;
        display: block;
        border: none;
    }
    
    #available-ascended-images, #staked-ascended-images {
        width: 100%;
        height: 60vh;
        text-align: center;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .box3 {
        padding: 20px;
    }

    .your-ascended {
        width: 41%;
    }

    .your-ascended img {
        border-width: 5px;
    }

    .your-ascended .aura-icon {
        border: none;
        width: 3vh;
        margin: 0;
        margin-left: 4px;
    }

    .ascended-id, .aura-earned {
          font-size: 3vh;
          line-height: 3.2vh;
    }

    .your-ascended:hover .aura-icon {
        border: none;
    }
}